.header{
    height: 40vh;
    background-color: orange;
    color: rgb(0, 0, 112);
}

.customLink{
    font-size: 50px;
    color: rgb(0, 0, 112);
}

.btn-secondary{
    background-color: rgb(0, 0, 112);
}

.btn-secondary:hover{
    color: rgb(0, 0, 112);
    background-color: rgba(0, 0, 163, 0.229);
}